// .title {
//   font-family: "Source Code Pro", monospace;
//   -webkit-font-smoothing: antialiased;
//   -moz-font-smoothing: antialiased;
//   -o-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

p {
  // font-family: 'Poppins', sans-serif;
  font-family: 'Source Code Pro', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}